# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Database
*.sqlite3
*.db
local_storage.db

# Node
node_modules/
dist/
build/
.npm/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
